[submodule "lib/RWM1819-Scoreboard-A"]
	path = lib/RWM1819-Scoreboard-A
	url = https://github.com/itcgames/RWM1819-Scoreboard-A.git
[submodule "lib/RWM1819-Gesture-A"]
	path = lib/RWM1819-Gesture-A
	url = https://github.com/itcgames/RWM1819-Gesture-A
[submodule "lib/RWM1819-Audio-A"]
	path = lib/RWM1819-Audio-A
	url = https://github.com/itcgames/RWM1819-Audio-A.git
[submodule "lib/https://github.com/itcgames/RWM1819-Weather-A"]
	path = lib/RWM1819-RWM1819-Weather-A
	url = https://github.com/itcgames/RWM1819-Weather-A.git